
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Data Export</h4>
                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                <div class="table-responsive m-t-40">
                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Request Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Request Date</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>21/02/2019</td>
                                <td><span class="label label-danger">Rejected</span> </td>
                            </tr>
                            <tr>
                                <td>Garrett Winters</td>
                                <td>21/02/2019</td>
                                <td><span class="label label-success">Accept</span> </td>
                            </tr>
                            <tr>
                                <td>Saya Sendiri</td>
                                <td>21/02/2019</td>
                                <td><span class="label label-warning">Pending</span>
                                <a href="#" alt="default" data-toggle="modal" data-target="#responsive-modal"><span class="label label-info">View Detail</span></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    
</div>

<div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Detail Overtime</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label style="display : block" for="full-name" class="control-label">Full Name:</label>
                        <span style="font : 14px" id="full-name">Employee Full Name</span>
                    </div>
                    <div class="form-group">
                        <label style="display : block" for="position" class="control-label">Position:</label>
                        <span style="font : 14px" id="full-name">Employee Position</span>
                    </div>
                    <div class="form-group">
                        <label style="display : block" for="department" class="control-label">Department:</label>
                        <span style="font : 14px" id="full-name">Employee Departemnt</span>
                    </div>
                    <div class="form-group">
                        <label style="display : block" for="manager" class="control-label">Manager:</label>
                        <span style="font : 14px" id="full-name">Employee Manager</span>
                    </div>
                    <div class="form-group">
                        <label style="display : block" for="reason-text" class="control-label">Reason:</label>
                        <span style="font : 14px" id="full-name">Overtime because needs more money....</span>
                    </div>
                    <div class="form-group">
                        <a href="#" class="control-label"><span class="label label-info" style="display : inline; font-size : 16px">View File</span></a>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger waves-effect waves-light" onclick="reject(1)">Reject</button>
                <button type="button" class="btn btn-success waves-effect waves-light" onclick="accept(1)">Accept</button>
            </div>
        </div>
    </div>
</div>
<script src="~/scripts/js/Manager.js"></script>